<<<<<<< HEAD
* {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Verdana;
    margin: auto;
}

.header .nav ul li {
    list-style: none;
    margin: 15px;
    font-family: Arial, Verdana;
    display: inline-block;
    margin: 0 0 0 1%;
}

.header .nav ul li a {
    text-decoration: none;
    float: none;
    color: rgb(225, 224, 224);
    font-family: Arial;
    font-weight: bold;
    font-size: x-large;
    transition: color 0.3s ease;
}

.header .nav ul li a:hover {
    color: #fff;
}

.header {
    text-align: center;
    background: #222;
    width: 100%;
    top: 0;
    position: fixed;
    box-shadow: 0 0 15px 0 #161616;
    padding: 0px;
    box-sizing: border-box;
}

#inicio {
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#inicio h1 {
    font-style: italic;
}

#inicio h3 {
    font-weight: lighter;
}

h3[class="Img1"] {
    text-align: center;

}

img[class="imgsitd1"] {
    display: inline-block;
    box-shadow: 5px 5px 5px 5px #161616;
    box-sizing: border-box;
    
}

#ft {
    background: rgb(39, 39, 39);
    margin: auto;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ft h3 {
    font-weight: lighter;
}

#personagens {
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#personagens ul {
    list-style: none;
}

#ts {
    background: rgb(39, 39, 39);
    margin: auto;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ts ul {
    list-style: none;
}

#ts ul li a {
    color: #c3c3c3;
    text-decoration: none;
    transition: color 0.3s ease;
}

#ts ul li a:hover {
    color: #fff;
}

#ele {
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ele ul {
    list-style: none;
}

#regras {
    background: rgb(39, 39, 39);
    margin: auto;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#regras ul {
    list-style: none;
}

#baixar {
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px
}

#quemsomos {
    background: rgb(39, 39, 39);
    margin: auto;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#quemsomos ul {
    list-style: none;
}

footer {
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px
=======
* {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Verdana;
    margin: auto;
}

.header .nav ul li {
    list-style: none;
    margin: 15px;
    font-family: Arial, Verdana;
    display: inline-block;
    margin: 0 0 0 1%;
}

.header .nav ul li a {
    text-decoration: none;
    float: none;
    color: rgb(225, 224, 224);
    font-family: Arial;
    font-weight: bold;
    font-size: x-large;
    transition: color 0.3s ease;
}

.header .nav ul li a:hover {
    color: #fff;
}

.header {
    text-align: center;
    background: #222;
    width: 100%;
    top: 0;
    position: fixed;
    box-shadow: 0 0 15px 0 #161616;
    padding: 0px;
    box-sizing: border-box;
}

#inicio {
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#inicio h1 {
    font-style: italic;
}

#inicio h3 {
    font-weight: lighter;
}

h3[class="Img1"] {
    text-align: center;

}

img[class="imgsitd1"] {
    display: inline-block;
    box-shadow: 5px 5px 5px 5px #161616;
    box-sizing: border-box;
    
}

#ft {
    background: rgb(39, 39, 39);
    margin: auto;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ft h3 {
    font-weight: lighter;
}

#personagens {
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#personagens ul {
    list-style: none;
}

#ts {
    background: rgb(39, 39, 39);
    margin: auto;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ts ul {
    list-style: none;
}

#ts ul li a {
    color: #c3c3c3;
    text-decoration: none;
    transition: color 0.3s ease;
}

#ts ul li a:hover {
    color: #fff;
}

#ele {
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ele ul {
    list-style: none;
}

#mec {
    background: rgb(39, 39, 39);
    margin: auto;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#mec ul {
    list-style: none;
}

#baixar {
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px
}

#quemsomos {
    background: rgb(39, 39, 39);
    margin: auto;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#quemsomos ul {
    list-style: none;
}

footer {
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px
>>>>>>> 87c3cd48b798273cd95e09c4e5ceae6b4d15245b
}